.contactForm {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.5rem;

  .sendButton {
    min-width: 11.25rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border-radius: 0.75rem;

    .icon {
      margin-left: 0.75rem;
    }
  }
}

/***** Mobile *****/

@media only screen and (max-width: 47.9375rem) {
  .contactForm {
    width: 100%;
  }
}
