.contact {
  position: relative;
  padding: 9.375rem 2rem 18.75rem 2rem;
  display: grid;
  place-items: center;
  grid-template-rows: auto auto;
  row-gap: 5.625rem;
  opacity: 0;

  .sectionHeader {
    position: relative;
    max-width: 36.3125rem;
    text-align: center;

    .plane {
      position: absolute;
      right: 0rem;
      top: -3.5rem;
    }

    .description {
      color: var(--gray-text);
    }
  }
}

/***** Tablet *****/

@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {
}

/***** Mobile *****/

@media only screen and (max-width: 47.9375rem) {
  .contact {
    padding: 9.375rem 2rem;

    .sectionHeader {
      .plane {
        top: -100px;
      }
    }

    .socialLinks {
      position: static;
      transform: translate(0);
    }
  }
}
