.skills {
  position: relative;
  margin-top: 10.3125rem;
  padding: 9.375rem 2rem;
  display: grid;
  place-items: center;
  grid-template-rows: auto auto;
  row-gap: 5.625rem;
  opacity: 0;

  .sectionHeader {
    position: relative;
    max-width: 36.3125rem;
    text-align: center;

    .sparkles {
      position: absolute;
      right: 0;
      top: -20px;
    }

    .description {
      color: var(--gray-text);
    }
  }

  .skillGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.125rem;
    justify-content: stretch;

    .leftGrid,
    .rightGrid {
      display: grid;
      grid-template-rows: min-content min-content;
      row-gap: 5rem;

      .image {
        box-sizing: border-box;
        padding: 1rem;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        display: grid;
        grid-template-rows: 1fr 1fr;
        color: var(--gray-600);
        text-decoration: none;

        .OpenIndicator {
          width: fit-content;
          height: fit-content;
          padding: 1rem;
          border: 0.0625rem solid var(--border);
          display: inline-grid;
          justify-self: end;
          border-radius: 100%;
          background: rgba(255, 255, 255, 0.8);
          backdrop-filter: blur(30px);
          box-shadow: var(--shadow-1);

          .icon {
            color: var(--gray-600);
          }
        }

        .linkInfo {
          width: fit-content;
          height: fit-content;
          padding: 1rem;
          border: 1px solid var(--border);
          border-radius: 1rem;
          align-self: end;
          display: grid;
          grid-template-rows: auto auto;
          background: rgba(255, 255, 255, 0.8);
          backdrop-filter: blur(30px);
          box-shadow: var(--shadow-1);
        }
      }

      .skillList {
        display: grid;
        grid-template-rows: auto auto;
        row-gap: 1.5rem;

        .skillItem:not(:last-child) {
          padding-bottom: 0.75rem;
          border-bottom: 0.0625rem solid var(--border);
        }

        .skillItem {
          .number {
            color: var(--blue-300);
          }

          .description {
            color: var(--gray-text);
          }
        }
      }
    }

    .leftGrid {
      .image {
        width: auto;
        height: 100%;
        aspect-ratio: 580/ 603;
        border-radius: 2rem;
        border: 0.0625rem solid var(--border);
        overflow: hidden;
      }
    }

    .rightGrid {
      .booksMockup {
        width: auto;
        aspect-ratio: 582/666;
        display: grid;
        grid-template-rows: 1fr 25%;
        border-radius: 2rem;
        border: 0.0625rem solid var(--border);
        overflow: hidden;

        .colors {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;

          .colorPalette {
            display: grid;
            grid-template-rows: 1fr min-content;
            padding: 0.75rem 1rem;
            color: var(--white);

            .name {
              font-weight: 400;
            }

            .hexValue,
            .rgbValue {
              font-weight: 900;
            }
          }

          .colorPalette:nth-child(1) {
            background: var(--magic-pink);
          }

          .colorPalette:nth-child(2) {
            background: var(--energy-blue);
          }

          .colorPalette:nth-child(3) {
            background: var(--marine-purple);
          }
        }
      }
    }
  }

  .mesh2 {
    width: 100%;
    height: max-content;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}

/***** Mobile *****/

@media only screen and (max-width: 47.9375rem) {
  .skills {
    .sectionHeader {
      .sparkles {
        position: absolute;
        right: 80px;
        top: -60px;
      }
    }

    .skillGrid {
      grid-template-columns: 1fr;
      row-gap: 6.25rem;

      .rightGrid {
        row-gap: 2rem;

        .skillList {
          order: 1;
        }
      }

      .leftGrid {
        row-gap: 2rem;

        .skillList {
          order: 1;
        }
      }
    }

    .mesh2 {
      height: 100vh;
      left: 0;
      bottom: 50px;
    }
  }
}
