@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "normalize.css";

/***** Theme Values *****/

:root {
  /* Colors */

  --blue-100: #ccd0ff;
  --blue-200: #8089fe;
  --blue-300: #2030fe;
  --blue-400: #010fc1;
  --blue-500: #010a7f;

  --green-100: #c8e6c9;
  --green-500: #1b5e20;
  --red-100: #ffc2ad;
  --red-500: #820000;

  --purple: #6628e2;
  --orange: #f94f24;
  --pink: #e142a0;

  --magic-pink: #f05ee1;
  --energy-blue: #4fa5e5;
  --marine-purple: #956edf;

  --pink-purple-gradient: linear-gradient(90deg, #8089fe, #ffadc2);

  --gray-50: #fcfcfc;
  --gray-100: #f7f7f7;
  --gray-200: #eeeeee;
  --gray-300: #c5c5c6;
  --gray-400: #676767;
  --gray-500: rgba(0, 0, 0, 0.6);
  --gray-600: rgba(0, 0, 0, 0.7);
  --gray-700: rgba(0, 0, 0, 0.8);

  --white: #ffffff;
  --black: #000000;

  --transparent: rgba(0, 0, 0, 0);
  --border: rgba(0, 0, 0, 0.07);
  --overlay: rgba(0, 0, 0, 0.6);
  --card-overlay: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 100%
  );
  --overlay-text: rgba(255, 255, 255, 0.9);
  --gray-text: rgba(0, 0, 0, 0.45);

  /* Types */

  --heading-1: 600 1rem/160% "Inter", sans-serif;
  --heading-2: 700 1.25rem/160% "Inter", sans-serif;
  --heading-3: 600 1.5rem/160% "Inter", sans-serif;
  --heading-4: 400 1.875rem/160% "Inter", sans-serif;
  --heading-5: 400 1.25rem/160% "Inter", sans-serif;
  --heading-6: 600 0.875rem/160% "Inter", sans-serif;
  --heading-7: 600 1rem/160% "Inter", sans-serif;

  --body-1: 400 0.75rem/160% "Inter", sans-serif;
  --body-2: 400 1rem/160% "Inter", sans-serif;
  --body-3: 500 1rem/160% "Inter", sans-serif;
  --body-4: 400 1.25rem/160% "Inter", sans-serif;
  --body-5: 400 1.5rem/160% "Inter", sans-serif;

  --display-1: 300 2.625rem/160% "Inter", sans-serif;
  --display-2: 300 2.375rem/160% "Inter", sans-serif;
  --display-3: 700 1.25rem/160% "Inter", sans-serif;

  /***** Shadows *****/
  --shadow-1: 0 15px 40px rgba(0, 0, 0, 0.1);
}

/***** Global Styles *****/

body {
  font-family: "Inter", sans-serif;
  color: var(--gray-700);
  overflow-x: hidden;
}

main {
  min-height: calc(100vh - 12.4619rem);
}

.colorful-text {
  background: var(--pink-purple-gradient);
  background-clip: text;
  color: transparent;
}

/***** Dark Theme *****/

@media (prefers-color-scheme: dark) {
}

/***** Desktop *****/

@media only screen and (min-width: 62rem) {
}

/***** Tablet *****/

@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {
}

/***** Mobile *****/

@media only screen and (max-width: 47.9375rem) {
}
