.projects {
  padding: 12.5rem 0;
  display: grid;
  place-items: center;
  grid-template-rows: auto auto;
  row-gap: 5.625rem;

  .sectionHeader {
    padding: 0 2rem;
    max-width: 36.3125rem;

    .title {
      text-align: center;
      line-height: 160%;
    }

    .description {
      text-align: center;
      line-height: 160%;
      color: var(--gray-text);
    }
  }

  .projectsGrid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    row-gap: 2.5rem;

    .twoProjects {
      padding: 0 2rem;
      display: flex;
      gap: 2.5rem;
    }

    .ProjectWithSeeMore {
      padding: 0 2rem;
      position: relative;
      display: flex;
      align-items: center;
      gap: 2.5rem;
      overflow: hidden;

      .seeMore {
        display: grid;
        grid-template-rows: repeat(3, auto);
        row-gap: 0.75rem;

        .tools {
          display: grid;
          grid-auto-flow: column;
          grid-auto-columns: min-content;
          column-gap: 0.625rem;

          .toolIcon {
            width: 1.25rem;
            height: 1.25rem;
            padding: 10px;
            border: 0.0625rem solid var(--border);
            border-radius: 2.5rem;
            display: grid;
            place-items: center;
            background: var(--white);
          }
        }

        .titleAndDescription {
          width: max-content;

          .description {
            width: 15rem;
          }
        }

        .moreButton {
          padding: 0.875rem 2.5rem;
          width: fit-content;
          border-radius: 100px;
        }
      }

      .leftMesh {
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }

      .rightMesh {
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

/***** Tablet *****/

@media only screen and (max-width: 64rem) {
  .projectsGrid {
    .twoProjects {
      flex-direction: column;
    }

    .ProjectWithSeeMore {
      flex-direction: column;

      .seeMore {
        place-items: center;
        text-align: center;
      }
    }
  }
}
